
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&family=Zilla+Slab:ital,wght@0,300;0,400;1,400&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

.nav__logo{
  width: 3rem;
  display: block;
}

img{
  display: block;
  object-fit: cover;
  width: 100%;
}